html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.square {
  border: 1px solid black;
  box-sizing: border-box;
}

.board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}
