html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100vw;
  box-sizing: border-box;
  align-items: center;
  flex: 1;
}

.board {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.canvas {
  display: flex;
}

.row {
  display: flex;
}

.square {
  box-sizing: border-box;
  cursor: pointer;
}

.square.gridded {
  border-style: solid;
  border-color: black;
  border-width: 0;
  border-left-width: 1px;
  border-top-width: 1px;
}

.square.gridded:last-child {
  border-right-width: 1px;
}

.row:last-child .square.gridded {
  border-bottom-width: 1px;
}

.color-picker {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
