html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.square {
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
}

.board {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.row {
  display: flex;
}

.canvas {
  display: flex;
}

.color-picker {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
